.navbar {
    background-color: rgb(94, 2, 94); // Set background to primary color
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays above other content */
    .navbar-brand, .nav-link {
      color: yellow;
    }
  
    // Optional: Change color on hover
    .navbar-brand:hover, .nav-link:hover {
      color: yellow;
    }
  
    .navbar-toggler {
      border-color:yellow;
    }
  }